In [1]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

In [2]:
import requests
from bs4 import BeautifulSoup

In [20]:
html_text= requests.get('https://www.timesjobs.com/candidate/job-search.html?searchType=personalizedSearch&from=submit&txtKeywords=python&txtLocation=').text

In [21]:
soup = BeautifulSoup(html_text, 'lxml')
jobs = soup.find_all('li', class_='clearfix job-bx wht-shd-bx')

In [38]:
#Printing the collected informations
for job in jobs:
  job_type= job.header.h2.a.text
  comp_name= job.find('h3', class_ = 'joblist-comp-name').text
  skills = job.find('span', class_='srp-skills').text.replace(' ','')
  job_pub_date = job.find('span', class_= 'sim-posted').text
  More_info = job.header.h2.a['href']
  year = job.find('ul', class_='top-jd-dtl clearfix').text[12:21]
  location= job.find('ul', class_='top-jd-dtl clearfix').text[34:]

  print(f'''
  Job_type:{job_type.strip()}
  Company Name: {comp_name.strip()}
  Skills: {skills.strip()}
  Job Published Date: {job_pub_date.strip()}
  More Info: {More_info}
  Year:{year.strip()}
  Location:{location.strip()}
  ''')

  Job_tyep:Python
  Company Name: Pure Tech Codex Private Limited
  Skills: rest,python,database,django,debugging,mongodb
  Job Published Date: Posted few days ago
  More Info: https://www.timesjobs.com/job-detail/python-pure-tech-codex-private-limited-pune-2-to-3-yrs-jobid-OHwfF0d6EhNzpSvf__PLUS__uAgZw==&source=srp
  Year:2 - 3 yrs
  Location:Pune


  Job_tyep:Python
  Company Name: EAGateway Services India Pvt Ltd
     (More Jobs)
  Skills: python,pandas,numpy,git
  Job Published Date: Posted a month ago
  More Info: https://www.timesjobs.com/job-detail/python-eagateway-services-india-pvt-ltd-bengaluru-bangalore-3-to-8-yrs-jobid-2Imi2htPAPZzpSvf__PLUS__uAgZw==&source=srp
  Year:3 - 8 yrs
  Location:Bengaluru / Bangalore


  Job_tyep:Python
  Company Name: Surya Informatics Solutions Pvt. Ltd.
  Skills: python,webtechnologies,linux,mobile,mysql,angularjs,javascript
  Job Published Date: Posted few days ago
  More Info: https://www.timesjobs.com/job-detail/python-surya-informatics-solutions-pvt-ltd-chennai-0-to-3-yrs-jobid-UVlLes58wutzpSvf__PLUS__uAgZw==&source=srp
  Year:0 - 3 yrs
  Location:Chennai


  Job_tyep:Python
  Company Name: 3RI Technologies Pvt Ltd
  Skills: embeddedsystems,embeddedc,oscilloscope
  Job Published Date: Posted few days ago
  More Info: https://www.timesjobs.com/job-detail/python-3ri-technologies-pvt-ltd-pune-0-to-3-yrs-jobid-BPHzI7z6aKVzpSvf__PLUS__uAgZw==&source=srp
  Year:0 - 3 yrs
  Location:Pune


  Job_tyep:QA Python / Python SDET
  Company Name: Gemini Solutions
  Skills: python,mobile,svn,nosql,pythonscripting,git,api,sqldatabase
  Job Published Date: Posted few days ago
  More Info: https://www.timesjobs.com/job-detail/qa-python-python-sdet-gemini-solutions-gurgaon-4-to-7-yrs-jobid-eGMLzwOk2QlzpSvf__PLUS__uAgZw==&source=srp
  Year:4 - 7 yrs
  Location:Gurgaon


  Job_tyep:Python Developer , Python Programmer
  Company Name: RESEARCH DEVELOPERS
     (More Jobs)
  Skills: python,research,pythonprogrammer,MachineLearning,PatternRecognition,ImageProcessing,DigitalImage,SignalProcessing,ElectronicCircuits,NetworkAnalysis
  Job Published Date: Work from Home

Posted a month ago
  More Info: https://www.timesjobs.com/job-detail/python-developer-python-programmer-research-developers-delhi-delhi-ncr-noida-greater-noida-0-to-3-yrs-jobid-3MUarDWEYwBzpSvf__PLUS__uAgZw==&source=srp
  Year:0 - 3 yrs
  Location:.00 Lacs p.a.

location_on
Delhi,  Delhi/NCR,  Noida/Greater Noida


  Job_tyep:Python Developer
  Company Name: Dk business patron pvt ltd
     (More Jobs)
  Skills: Python,PHP
  Job Published Date: Posted 1 day ago
  More Info: https://www.timesjobs.com/job-detail/python-developer-dk-business-patron-pvt-ltd-delhi-2-to-5-yrs-jobid-PHy__SLASH____PLUS__twZR95zpSvf__PLUS__uAgZw==&source=srp
  Year:2 - 5 yrs
  Location:Delhi


  Job_tyep:Python Developer
  Company Name: TECHNOPARK TRIVANDRUM
  Skills: python,oops,storage
  Job Published Date: Posted 1 day ago
  More Info: https://www.timesjobs.com/job-detail/python-developer-technopark-trivandrum-thiruvananthapuram-2-to-5-yrs-jobid-E0wbvlNXauRzpSvf__PLUS__uAgZw==&source=srp
  Year:2 - 5 yrs
  Location:Thiruvananthapuram


  Job_tyep:Python Developers
  Company Name: Golden Opportunities Pvt Ltd
  Skills: python,informationtechnology,sql
  Job Published Date: Posted 3 days ago
  More Info: https://www.timesjobs.com/job-detail/python-developers-golden-opportunities-pvt-ltd-chennai-5-to-8-yrs-jobid-PhsasbleP6xzpSvf__PLUS__uAgZw==&source=srp
  Year:5 - 8 yrs
  Location:Chennai


  Job_tyep:Python Developer
  Company Name: TEAMPLUS STAFFING SOLUTION PVT. LTD.
  Skills: python,pythonscripting,shellscripting,unix
  Job Published Date: Posted few days ago
  More Info: https://www.timesjobs.com/job-detail/python-developer-teamplus-staffing-solution-pvt-ltd-pune-6-to-9-yrs-jobid-bjMgIT2lz6JzpSvf__PLUS__uAgZw==&source=srp
  Year:6 - 9 yrs
  Location:Pune


  Job_tyep:Python Developer
  Company Name: TandA HR Solutions
  Skills: Djangoframework,PythonDeveloper,corepython
  Job Published Date: Posted few days ago
  More Info: https://www.timesjobs.com/job-detail/python-developer-tanda-hr-solutions-mohali-3-to-5-yrs-jobid-GTT0grHZP1tzpSvf__PLUS__uAgZw==&source=srp
  Year:3 - 5 yrs
  Location:Mohali


  Job_tyep:Python Engineer
  Company Name: east india securities ltd.
  Skills: python,hadoop,machinelearning
  Job Published Date: Posted 5 days ago
  More Info: https://www.timesjobs.com/job-detail/python-engineer-east-india-securities-ltd-kolkata-2-to-5-yrs-jobid-KEkE19WqPbFzpSvf__PLUS__uAgZw==&source=srp
  Year:2 - 5 yrs
  Location:Kolkata


  Job_tyep:Python Developer
  Company Name: YM Global Technologies Pte Ltd
  Skills: python,apache,machinelearning
  Job Published Date: Posted 5 days ago
  More Info: https://www.timesjobs.com/job-detail/python-developer-ym-global-technologies-pte-ltd-singapore-4-to-7-yrs-jobid-bRMEk1dtdLBzpSvf__PLUS__uAgZw==&source=srp
  Year:4 - 7 yrs
  Location:Singapore


  Job_tyep:Python Developer
  Company Name: TandA HR Solutions
  Skills: python,django,sql
  Job Published Date: Posted 6 days ago
  More Info: https://www.timesjobs.com/job-detail/python-developer-tanda-hr-solutions-gurgaon-0-to-3-yrs-jobid-dMtCdFUMRY5zpSvf__PLUS__uAgZw==&source=srp
  Year:0 - 3 yrs
  Location:Gurgaon


  Job_tyep:Python Developer
  Company Name: TECHNOPARK TRIVANDRUM
  Skills: python,oops,storage
  Job Published Date: Posted 6 days ago
  More Info: https://www.timesjobs.com/job-detail/python-developer-technopark-trivandrum-thiruvananthapuram-2-to-5-yrs-jobid-TaTGIQ0POEZzpSvf__PLUS__uAgZw==&source=srp
  Year:2 - 5 yrs
  Location:Thiruvananthapuram


  Job_tyep:Python Developer
  Company Name: METADESIGN SOLUTIONS
  Skills: python,django,html5,javascript
  Job Published Date: Posted 1 day ago
  More Info: https://www.timesjobs.com/job-detail/python-developer-metadesign-solutions-gurgaon-2-to-5-yrs-jobid-2HZFYHdprdhzpSvf__PLUS__uAgZw==&source=srp
  Year:2 - 5 yrs
  Location:Gurgaon


  Job_tyep:Python Developer
  Company Name: TECHNOPARK TRIVANDRUM
  Skills: python,debugging,problemsolving,sql
  Job Published Date: Posted 1 day ago
  More Info: https://www.timesjobs.com/job-detail/python-developer-technopark-trivandrum-thiruvananthapuram-1-to-2-yrs-jobid-Jr0Dcgm3OlNzpSvf__PLUS__uAgZw==&source=srp
  Year:1 - 2 yrs
  Location:Thiruvananthapuram


  Job_tyep:Python Developer
  Company Name: MINDWORKS GLOBAL MEDIA SERVICES
  Skills: python,mysql,mongodb
  Job Published Date: Posted few days ago
  More Info: https://www.timesjobs.com/job-detail/python-developer-mindworks-global-media-services-noida-greater-noida-0-to-3-yrs-jobid-zrzMATnLcENzpSvf__PLUS__uAgZw==&source=srp
  Year:0 - 3 yrs
  Location:Noida/Greater Noida


  Job_tyep:Python Developer
  Company Name: SEVEN CONSULTANCY
  Skills: rest,python,storage
  Job Published Date: Posted few days ago
  More Info: https://www.timesjobs.com/job-detail/python-developer-seven-consultancy-navi-mumbai-mumbai-thane-1-to-3-yrs-jobid-GU4gb1wFYDBzpSvf__PLUS__uAgZw==&source=srp
  Year:1 - 3 yrs
  Location:Navi Mumbai,  Mumbai,  Thane


  Job_tyep:Python Engineer
  Company Name: quality engineering pvt.ltd.jalgaon
  Skills: rest,python,embeddedsoftware,git
  Job Published Date: Posted 2 days ago
  More Info: https://www.timesjobs.com/job-detail/python-engineer-quality-engineering-pvt-ltd-jalgaon-thiruvananthapuram-0-to-3-yrs-jobid-g__SLASH__D82__SLASH__TLHuZzpSvf__PLUS__uAgZw==&source=srp
  Year:0 - 3 yrs
  Location:Thiruvananthapuram


  Job_tyep:Python Developer
  Company Name: APPLYCUP HIRING SOLUTIONS LLP
  Skills: python,Django,ObjectRelationalMapper
  Job Published Date: Posted 4 days ago
  More Info: https://www.timesjobs.com/job-detail/python-developer-applycup-hiring-solutions-llp-surat-3-to-5-yrs-jobid-uj9JLhqjw6dzpSvf__PLUS__uAgZw==&source=srp
  Year:3 - 5 yrs
  Location:Surat


  Job_tyep:Python Developers
  Company Name: TandA HR Solutions
  Skills: python,git,django
  Job Published Date: Posted few days ago
  More Info: https://www.timesjobs.com/job-detail/python-developers-tanda-hr-solutions-chandigarh-2-to-5-yrs-jobid-OtVSvO0kmYNzpSvf__PLUS__uAgZw==&source=srp
  Year:2 - 5 yrs
  Location:Chandigarh


  Job_tyep:Python Developer
  Company Name: TandA HR Solutions
  Skills: python,git,django
  Job Published Date: Posted few days ago
  More Info: https://www.timesjobs.com/job-detail/python-developer-tanda-hr-solutions-chandigarh-5-to-8-yrs-jobid-id252yPhiLZzpSvf__PLUS__uAgZw==&source=srp
  Year:5 - 8 yrs
  Location:Chandigarh


  Job_tyep:Python Trainer
  Company Name: APPLYCUP HIRING SOLUTIONS LLP
  Skills: python,webtechnologies,webtechnologies
  Job Published Date: Posted 5 days ago
  More Info: https://www.timesjobs.com/job-detail/python-trainer-applycup-hiring-solutions-llp-pune-4-to-6-yrs-jobid-3V1Biww1YVJzpSvf__PLUS__uAgZw==&source=srp
  Year:4 - 6 yrs
  Location:Pune


  Job_tyep:Python Developer
  Company Name: Visionpix Technologies LLP
  Skills: python,oops,technicalskills,
  Job Published Date: Posted few days ago
  More Info: https://www.timesjobs.com/job-detail/python-developer-visionpix-technologies-llp-bengaluru-bangalore-4-to-10-yrs-jobid-EAoyvX9td4pzpSvf__PLUS__uAgZw==&source=srp
  Year:4 - 10 yr
  Location:n
Bengaluru / Bangalore

In [6]:
#Writing a text file
for index,job in enumerate(jobs):
  comp_name= job.find('h3', class_ = 'joblist-comp-name').text
  skills = job.find('span', class_='srp-skills').text.replace(' ','')
  job_pub_date = job.find('span', class_= 'sim-posted').text
  More_info = job.header.h2.a['href']

  with open (f' posts.txt', 'w') as f:
    f.write (f" Company Name: {comp_name.strip()} \n")
    f.write (f" Skills: {skills.strip()}\n")
    f.write (f" Job Published Date: {job_pub_date.strip()}\n")
    f.write (f" More Info: {More_info}\n")

In [39]:
#Creating a data frame for the 1st page
import pandas as pd

whole_info= []
for index,job in enumerate(jobs):
  job_type= job.header.h2.a.text
  comp_name= job.find('h3', class_ = 'joblist-comp-name').text
  skills = job.find('span', class_='srp-skills').text.replace(' ','')
  job_pub_date = job.find('span', class_= 'sim-posted').text
  More_info = job.header.h2.a['href']
  year = job.find('ul', class_='top-jd-dtl clearfix').text[12:21]
  location= job.find('ul', class_='top-jd-dtl clearfix').text[34:]

  job_info = {
      'index':index,
      'Job_Type':job_type.strip(),
      'Company_Name': comp_name.strip(),
       'Required_Skills': skills.strip(),
       'Years_of_experience':year.strip(),
       'Job_Location':location.strip(),
       'Job_published_date':job_pub_date.strip(),
       'More_info': More_info.strip()}
  whole_info.append(job_info)

df = pd.DataFrame(whole_info)
df.head(10)

   index  ...                                          More_info
0      0  ...  https://www.timesjobs.com/job-detail/python-pu...
1      1  ...  https://www.timesjobs.com/job-detail/python-ea...
2      2  ...  https://www.timesjobs.com/job-detail/python-su...
3      3  ...  https://www.timesjobs.com/job-detail/python-3r...
4      4  ...  https://www.timesjobs.com/job-detail/qa-python...
5      5  ...  https://www.timesjobs.com/job-detail/python-de...
6      6  ...  https://www.timesjobs.com/job-detail/python-de...
7      7  ...  https://www.timesjobs.com/job-detail/python-de...
8      8  ...  https://www.timesjobs.com/job-detail/python-de...
9      9  ...  https://www.timesjobs.com/job-detail/python-de...

[10 rows x 8 columns]

In [45]:
#Creating a data frame for the first 10 pages
import pandas as pd
whole_info= []

for i in range(1,10):
  url= 'https://www.timesjobs.com/candidate/job-search.html?from=submit&actualTxtKeywords=python&searchBy=0&rdoOperator=OR&searchType=personalizedSearch&luceneResultSize=25&postWeek=60&txtKeywords=python&pDate=I&sequence='
  r = requests.get(url+str(i)+'&startPage=')
  soup = BeautifulSoup(r.content, 'html.parser')
  jobs = soup.find_all('li', class_='clearfix job-bx wht-shd-bx') 
  
  for job in jobs:
    #Job Type
    jtype= job.header.h2.a
    if jtype is not None: job_type = jtype.text
    else: jtype = None

    #Required Year
    jyear = job.find('ul', class_='top-jd-dtl clearfix')
    if jyear is not None: year = jyear.text[12:21]
    else: jyear = None

    #Job Location
    jlocation= job.find('ul', class_='top-jd-dtl clearfix')
    if jlocation is not None: location = jlocation.text[34:]
    else: jlocation = None

    #Company Name
    comp = job.find('h3', class_ = 'joblist-comp-name')
    if comp is not None: comp_name = comp.text
    else: comp = None
    
    #Skills
    skill = job.find('span', class_='srp-skills')
    if skill is not None: skills = skill.text
    else: skill = None

    #Job publish date
    pub_date = job.find('span', class_= 'sim-posted')
    if pub_date is not None: job_pub_date = pub_date.text
    else: pub_date = None

    job_info = {
      'index':index,
      'Job_Type':job_type.strip(),
      'Company_Name': comp_name.strip(),
       'Required_Skills': skills.strip(),
       'Years_of_experience':year.strip(),
       'Job_Location':location.strip(),
       'Job_published_date':job_pub_date.strip()}
       
    whole_info.append(job_info)

In [47]:
df = pd.DataFrame(whole_info)
df.head()

   index                 Job_Type  ...           Job_Location   Job_published_date
0     24                   Python  ...                   Pune  Posted few days ago
1     24                   Python  ...  Bengaluru / Bangalore   Posted a month ago
2     24                   Python  ...                Chennai  Posted few days ago
3     24                   Python  ...                   Pune  Posted few days ago
4     24  QA Python / Python SDET  ...                Gurgaon  Posted few days ago

[5 rows x 7 columns]

In [48]:
len(df.index)

214